<div>
  <div class="submit-form">
    @if (!submitted) {
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <!-- Submit button with spinner -->
      <button
        (click)="saveTutorial()"
        class="btn btn-success"
        [disabled]="loading"
      >
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span *ngIf="!loading">Submit</span>
        <span *ngIf="loading">Submitting...</span>
      </button>
    } @else {
      <h4>Tutorial was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    }
  </div>
</div>
